/* banner header */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 31px 160px;
    text-align: center;
}

/* font type */
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  
  font-weight: 800;
  font-style: normal;
 
    font-size: 32px;
}

.uniquifier {
    font-family: "Fira Sans", serif;
  
  font-weight: 800;
  font-style: normal;
    font-variation-settings:
      "wdth" 100;
      background-color: #F1F1F3;
  }

nav ul{
  list-style: none;
}
.btn{
    padding: 15px 30px;
    width: 116px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #006A50;
    color: #006A50;
    text-align: center;
    font-weight: 600;
    
}

/* div design */
.div1{
display: flex;
justify-content: space-between;
padding: 80px 100px;

background-color: #C6E4D6;
border-radius: 24px;
margin: 0 160px;
background-position: center;

height: 580px;
}

.div2{
margin: 117px 0px 117px 0px;
border-width: 100px;
padding: 100px 80px;
}
.div3{
    padding: 80px 0px;
    width: 622px;
}
.div4{
    width:622px;
    height:326px;
    text-align: left;
    padding: 45px 0px 80px 0px;
    justify-content:left;

}
.div5{

    width:622px;
    height:29px;
    font-weight: medium;
    color:rgba(14, 14, 14, 0.5);
    
    font-size: 24px;
    line-height: auto;
    
}
.text{
    font-weight: bold , #0E0E0E;
    
    font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
    font-size: 50px;
    align-items: top left;
    width:622px;
    height: 201px;
    
    
}
.btn2{
    padding: 15px 30px;
    width: 270px;
    height: 56px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #006A50;
    color:#FFFFFF;
    text-align: center;
    font-weight: 202px;
    font-size: 18px;
}
.h3{


}
.p1{
    font-weight: 600;
    font-size: large;
    color: #0E0E0E;
}
.pic{
    width: 474px;
    height: 400px;
    padding: 80px 59px 80px;
}
/* body design */
.maindiv{

   
  
    margin: 80px 160px 80px 160px;
    font-size: 40px;
    
}
.secdiv{
    margin:32px 16px  ;
    width:1280px;
    height:48px;
    text-align: left top;
}
.div6{
    display: flex;
    justify-content: space-evenly;
    
}
.div7{
    background-color: #FFFFFF;
    width:302px;
    height:224px;
    border-radius: 5px;
   
}
.div8{
    width:254;
    height:108;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    
}
#2ndsec{
    width: 1280px;
    height:765px;
    font-weight: normal;
    font-size: 16px;
}
.textcolor{
    color: rgba(14, 14, 14, 0.8);
}
.background{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
}
.bg{
    color: rgba(14, 14, 14, 0.15);
}
